$primary-color: black;
$primary-text-color: #fff;
$link-color: #2c6cff;

html,
body {
  margin: 0;
  padding: 0;
  --height-hero: 300px;
  --padding-header-h: 6px;
  --padding-header-v: 10px;
  --margin-top-content: 40px;
  --font-size-site-title: 0.78rem;
  --line-height-site-title: 12px;
  --margin-navigation: 20px;
  --padding-card-header: 4px 20px 10px 10px;
  --margin-left-back: 0.2rem;
  --height-card-image: 150px;
  --padding-v-content: 12px;
  --max-width-site-title: 10rem;
  --height-logo: 30px;
}
@media only screen and (min-width: 768px) {
  body {
    --height-hero: 600px;
    --padding-header-h: 40px;
    --padding-header-v: 2px;
    --margin-top-content: 80px;
    --font-size-site-title: 1rem;
    --line-height-site-title: default;
    --margin-navigation: 28px;
    --padding-card-header: 12px 20px 20px 20px;
    --margin-left-back: 1rem;
    --height-card-image: 330px;
    --padding-v-content: 24px;
    --max-width-site-title: 30rem;
    --height-logo: 70px;
  }
}

@mixin bigText {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

* {
  margin-top: 0;
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #fff;
}
a {
  color: $primary-color;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  transition: border-color 0.15s ease-out;
}
.site-wrapper {
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.content {
  padding: var(--padding-v-content) 0;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: var(--margin-top-content);
}
.mbs {
  margin-bottom: 1rem;
}
.mbm {
  margin-bottom: 3rem;
}
.pvm {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.phs {
  padding: 0 1rem;
}
.back {
  @include bigText;
  margin-left: var(--margin-left-back);
  font-size: 0.9rem;
  border-bottom: solid 1px transparent;
  transition: border-color 0.15s ease-out;
  &:hover {
    border-bottom: solid 1px $primary-color;
  }
}
/*
display: flex;
    flex-direction: column;
    align-items: flex-end;*/
.navigation {
  a {
    margin: 0 var(--margin-navigation) 0 0;
    &[aria-current] {
      color: $primary-color;
    }
    &:hover {
      color: $primary-color;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-header {
  position: sticky;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.32);
  @include bigText;
  width: calc(100vw - 2 * var(--padding-header-h));
  padding: var(--padding-header-v) var(--padding-header-h);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navigation {
    a {
      border-bottom: solid 1px transparent;
      transition: border-color 0.15s ease-out;
      &:hover {
        border-bottom: solid 1px $primary-color;
      }
    }
  }
}

.site-title {
  max-width: var(--max-width-site-title);
  .logo-image-wrapper {
    height: var(--height-logo);
    img {
      height: 100%;
      width: auto;
    }
  }
  a {
    font-size: var(--font-size-site-title);
    line-height: var(--line-height-site-title);
    display: block;
    color: $primary-color;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    transition: border-color 0.15s ease-out;
  }
}
.hero-header {
  padding: 0;
  width: 100%;
  height: 300px;
  height: var(--height-hero);
  background-position: top center;
  background-image: url("../../static/assets/cover-moshed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: appear 0.8s linear;
}

.headline {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.button {
  padding: 0;
  outline: none;
  margin: 0;
  cursor: pointer;
  @include bigText;
  color: $link-color;
  border: none;
  border-bottom: solid 1px transparent;
  transition: color 0.2s ease-out, border-color 0.2s ease-out;
  &:hover {
    color: darken($link-color, 30%);
    border-bottom: solid 1px darken($link-color, 30%);
  }
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.post {
  padding: 0;
  background: white;
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 12px;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 1.9rem;
    @include bigText;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: #493b8a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 36px;
  color: white;
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
.card {
  display: grid;
  background: white;
  box-shadow: 0 0 30px #c7c7c7;
  overflow: hidden;
  line-height: 1.5;
  > a .card-image-wrapper {
    height: var(--height-card-image);
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  > a img {
    display: block;
    transition: filter 0.2s ease-out;
  }
  &:hover .post-link {
    color: $primary-color;
  }
  &:hover {
    > a img {
      filter: brightness(0.8);
    }
  }
  > header {
    padding: var(--padding-card-header);
  }
  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    margin-bottom: 0;
  }
  .post-meta {
    margin-bottom: 0;
  }
  .post-link {
    @include bigText;
    text-decoration: none;
    font-size: 0.9rem;
  }
}
.post-meta {
  font-size: 0.8rem;
  color: #666;
}
.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  font-size: 0.6rem;
  a {
    font-weight: 700;
  }
}
.form-container {
  background-color: #f7f8fe;
  padding: 32px;
  border: 1px solid #d3d6e7;
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    appearance: none;
    border: 1px solid #d3d6e7;
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen and (min-width: 768px) {
  .grids {
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}
@media only screen and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 64px;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}

.appear {
  animation: appear 0.8s cubic-bezier(0.39, 1.07, 0.87, 0.99);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a.select {
  user-select: all;
  cursor: pointer;
}

.select {
  user-select: all;
  cursor: default;
}

.clickable {
  color: $link-color;
  transition: color 0.2s ease-out, border-color 0.2s ease-out;
  &:hover {
    color: darken($link-color, 30%);
  }
}

p {
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
}
