$primary-color: black;
$primary-text-color: #fff;
$link-color: #2c6cff;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0;
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #fff;
  //background-color: #fff;
}
a {
  color: $primary-color;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  transition: border-color 0.15s ease-out;
}
.site-wrapper {
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.content {
  padding: 32px 0;
  max-width: 1240px;
  margin: 0 auto;  
  margin-top: 120px;
}
.mbs {
  margin-bottom: 1rem; 
}
.mbm {
  margin-bottom: 3rem; 
}
.back {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  border-bottom: solid 1px transparent;
  transition: border-color 0.15s ease-out;
  &:hover {
    border-bottom: solid 1px $primary-color;
  }
}
.navigation {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    margin: 0 14px 0;
    &[aria-current] {
      color: $primary-color;
      font-weight: 900;
    }
    &:hover {
      color: $primary-color;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-header {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  --padding-h: 40px;
  width: calc(100vw - 2*var(--padding-h));
  padding: 20px var(--padding-h);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navigation {
    a {
      border-bottom: solid 1px transparent;
      transition: border-color 0.15s ease-out;
      &:hover {
        border-bottom: solid 1px $primary-color;
      }
    }
  }
}
.site-title a {
  color: $primary-color;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: solid 1px transparent;
  transition: border-color 0.15s ease-out;
  &:hover {
    border-bottom: solid 1px $primary-color;
  }
}
.hero-header {
  padding: 0;
  width: 100%;
  height: 600px;
  background-image: url("../../static/assets/cover-moshed.jpg");
  background-size: cover;
  background-position: top center; 
  background-repeat: no-repeat;
  animation: appear 0.8s linear;
}
.headline {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.button {
  padding: 18px 27px;
  display: inline-block;
  background: #fff;
  border: 1px solid #d3d6e7;
  border-radius: 9px;
  text-decoration: none;
  color: #868892;
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color 0.3s linear;
  &.-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $primary-text-color;
    &:hover {
      background-color: #10072b;
      color: #fff;
      text-decoration: none;
    }
  }
  &:hover {
    background-color: #d3d6e7;
    color: #00062b;
  }
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.post {
  padding: 0;
  background: white;
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 12px;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: #493b8a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 36px;
  color: white;
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 64px;
}
.card {
  display: grid;
  background: white;
  box-shadow: 0 0 30px #c7c7c7;
  overflow: hidden;
  line-height: 1.5;
  > a img {
    display: block;
    transition: filter 0.2s ease-out;
  }
  &:hover .post-link {
    color: $primary-color;
  }
  &:hover {
    > a img {
      filter: brightness(0.8);
    }
  }
  > header {
    padding: 24px;
  }
  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    margin-bottom: 0;
  }
  .post-meta {
    margin-bottom: 0;
  }
  .post-link {
    color: #333;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.post-meta {
  font-size: 0.8rem;
  color: #666;
}
.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  font-size: 0.6rem;
  color: #666;
  a {
    font-weight: 700;
  }
}
.form-container {
  background-color: #f7f8fe;
  padding: 32px;
  border: 1px solid #d3d6e7;
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    appearance: none;
    border: 1px solid #d3d6e7;
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen and (min-width: 768px) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}

.appear {
  animation: appear 0.8s cubic-bezier(0.39, 1.07, 0.87, 0.99);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a.select {
  user-select: all;
  cursor: pointer;
}

.select {
  user-select: all;
  cursor: default;
}

.clickable {
  color: $link-color;
}

p {
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
}